Template Files/copy_all_tables/copy_all_tables/copy_all_tables.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureDatabricks1":{"type":"string"},"onpremsqlserver":{"type":"string"},"AzureDataLakeStorage1":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/copy_all_tables')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Look for all tables","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":"SELECT \ns.name AS SchemaName,\nt.name AS TableName\nFROM sys.tables t\nINNER JOIN sys.schemas s\nON t.schema_id = s.schema_id\nWHERE s.name = 'SalesLT'\n","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"SqlServerTable1","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEach Schema Table","type":"ForEach","dependsOn":[{"activity":"Look for all tables","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Look for all tables').output.value","type":"Expression"},"activities":[{"name":"Copy Each table","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"SqlServerSource","sqlReaderQuery":{"value":"@{concat('SELECT * FROM ', item().SchemaName, '.', item().TableName)}","type":"Expression"},"queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"SqlServercopy","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"parquetTables","type":"DatasetReference","parameters":{"schemaname":{"value":"@item().SchemaName","type":"Expression"},"tablename":{"value":"@item().TableName","type":"Expression"}}}]}]}},{"name":"ds-project1 to silver","type":"DatabricksNotebook","dependsOn":[{"activity":"ForEach Schema Table","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/a.rajput001@umb.edu/ds-project1 to silver"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks1')]","type":"LinkedServiceReference"}},{"name":"Silver to Gold","type":"DatabricksNotebook","dependsOn":[{"activity":"ds-project1 to silver","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/a.rajput001@umb.edu/silver to gold"},"linkedServiceName":{"referenceName":"[parameters('AzureDatabricks1')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-06-26T06:34:49Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/SqlServerTable1')]","[concat(variables('factoryId'), '/datasets/SqlServercopy')]","[concat(variables('factoryId'), '/datasets/parquetTables')]"]},{"name":"[concat(parameters('factoryName'), '/SqlServerTable1')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('onpremsqlserver')]","type":"LinkedServiceReference"},"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/SqlServercopy')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('onpremsqlserver')]","type":"LinkedServiceReference"},"annotations":[],"type":"SqlServerTable","schema":[],"typeProperties":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/parquetTables')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"parameters":{"schemaname":{"type":"string"},"tablename":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@{concat(dataset().tablename,'.parquet')}","type":"Expression"},"folderPath":{"value":"@{concat(dataset().schemaname, '/',dataset().tablename)}","type":"Expression"},"fileSystem":"ds-project1"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}